[requests]
service_URL_country_codes = be,ca,dk,fi,fr,de,gr,hk,it,jp,no,sk,si,se,ch,es,com,co.uk
words_per_request = 1

[translation]
ignorable_punctuation_tokens = !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~«»‘’”“–

[formatting]
class_translation = il_translation
class_word = il_word
class_paragraph = il_paragraph
class_space = il_space